<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="erp.web.dao.MaterialsDao">

     <resultMap id="materialsMAP"  type="erp.web.domain.WarehosingMaterialsApplyVO">	 				
	 		<result property="no" column="no"/>
		    <result property="applicationCode" column="application_code"/> 		            
	        <result property="maid" column="maid"/>
	        <result property="warehosingMaterialName" column="warehosing_material_name"/>  		        
	        <result property="applicationQuantity" column="application_quantity"/>       
	        <result property="properInventory" column="proper_inventory"/> 
	        <result property="currentInventory" column="current_inventory"/> 
	        <result property="processStatus" column="process_status"/> 	 
	        <result property="currentInventoryNullConfirm" column="current_inventory_null_confirm"/> 	 	               
	        <result property="remarks" column="remarks"/> 
            <result property="materialName" column="material_name"/> 
            
            <result property="bulchulId" column="bulchul_id"/> 
            <result property="bomid" column="bomid"/> 
            <result property="planId" column="plan_id"/>
             <result property="applicationDate" column="application_date"/>
             <result property="pcode" column="pcode"/> 
             <result property="planProductName" column="plan_product_name"/>  
             <result property="planProductQuantity" column="plan_product_quantity"/>                 
	 </resultMap>


   <insert id="insertWarehosingMaterials" parameterType="java.util.List">
			INSERT INTO tbl_warehosing_materials_apply(
			   maid
			  ,warehosing_material_name
			  ,application_quantity
			  ,remarks
			) VALUES
		<foreach item="item" index="index" collection="list" separator=" , ">
			 (
			   #{item.maid}
			  ,#{item.warehosingMaterialName}
			  ,#{item.applicationQuantity}
			  ,#{item.remarks}
			)
		</foreach>
	</insert>


	
	<select id="selectWarehosingMaterials" resultMap="materialsMAP" >
		<![CDATA[
		
		
		SELECT A.*
		
		 FROM 
		  	(
		    SELECT  wma.application_code,
        
       			 wma.maid, m.mcode , wma.warehosing_material_name , wma.process_status, 
        
       			 wma.remarks ,  m.proper_inventory,  wma.application_quantity , IFNULL(i.current_inventory, 0) AS current_inventory
        
       			 , @ROWNUM := @ROWNUM + 1 AS no
		    
		    FROM tbl_warehosing_materials_apply AS wma
        
       		INNER JOIN tbl_material AS m  ON wma.maid=m.maid
        
        	LEFT JOIN tbl_material_information AS i 
	   
	        ON wma.maid = i.maid
          
		    ,(SELECT @ROWNUM := 0) R      
		     
		      WHERE application_code IS NOT NULL 

		     ORDER BY application_code ASC
		 ) A 

		 ORDER BY no DESC 
		 
		 
		]]>	
		<if test='pageStart != null and pageStart !="" '>				 
			    LIMIT #{pageStart}, #{perPageNum}
			</if>
	</select>

	<select id="warehosingMaterialsTotalCount" resultType="Integer">
		SELECT count(*) FROM tbl_warehosing_materials_apply  				
	</select>	
	
	<update id="updateWarehosingMaterials">
	UPDATE tbl_warehosing_materials_apply
	SET
	   maid =#{maid}
	  ,warehosing_material_name =#{warehosingMaterialName}
	  ,application_quantity =#{applicationQuantity}
	  ,remarks =#{remarks}
	WHERE application_code =#{applicationCode}
	</update>

	<delete id="wmaDelete">
		DELETE FROM tbl_warehosing_materials_apply 

		WHERE application_code = #{applicationCode}		
	</delete>

	<delete id="wmaAllDelete">
	DELETE FROM tbl_warehosing_materials_apply 
	</delete>
	
	<delete id="wmaSuccessDelete">
	DELETE FROM tbl_warehosing_materials_apply WHERE process_status='1'
	</delete>

 <!-- 
 		current_inventory 널 값 확인
  -->
	<select id="getByInfoWarehosingMaterials" resultMap="materialsMAP" >	
	 SELECT  wma.application_code, wma.maid, m.mcode,  wma.warehosing_material_name, wma.process_status,
  
	     wma.remarks , m.proper_inventory , wma.application_quantity , IFNULL(i.current_inventory, 0) AS current_inventory
	     
	     ,i.current_inventory AS current_inventory_null_confirm
		
		  FROM tbl_warehosing_materials_apply
		 
		 AS wma INNER JOIN  tbl_material AS m
		
		 ON wma.maid = m.maid 
	   
	   LEFT JOIN tbl_material_information AS i 
	   
	   ON wma.maid = i.maid WHERE wma.application_code = #{applicationCode}				 
	</select>



	<select id="getByselectWMAList" resultMap="materialsMAP" >

	 SELECT  wma.application_code, wma.maid, m.mcode,  wma.warehosing_material_name, wma.process_status,
  
	     wma.remarks , m.proper_inventory , wma.application_quantity , IFNULL(i.current_inventory, 0) AS current_inventory
		
		  FROM tbl_warehosing_materials_apply
		 
		 AS wma INNER JOIN  tbl_material AS m
		
		 ON wma.maid = m.maid 
	   
	   LEFT JOIN tbl_material_information AS i 
	   
	   ON wma.maid = i.maid
	   
	   ORDER BY wma.application_code DESC
   
	</select>


	<!-- 입고처리 상태 업데이트 --> 
	<update id="wmaProcessStatusUpdate">		
		UPDATE tbl_warehosing_materials_apply
		SET
		  process_status = #{processStatus}
		WHERE application_code = #{applicationCode}
	</update>

	<!--  자재 정보 등록 -  현재  재고 -->
	<insert id="materialInformationInsert">
		INSERT INTO tbl_material_information(
		   maid
		  ,current_inventory
		) VALUES (
		  #{maid}
		  ,#{applicationQuantity}
		)
	</insert>

	<!--  자재 정보 업데이트  - 현재 재고 -->
	<update id="materialInformationUpdate">	
	UPDATE tbl_material_information
		SET
		  current_inventory = current_inventory+#{applicationQuantity}
		WHERE maid = #{maid}
	</update>


	<!--  재고관리 -->
	<sql id="stockListSql">
			<if test='mcode != null and mcode !="" '>
				  AND  mcode LIKE concat('%', #{mcode} ,'%') 
			</if>
			
			<if test='materialName != null and materialName !="" '>
				  AND  material_name LIKE concat('%', #{materialName} ,'%') 
			</if>
	</sql>


	<select id="stockSearchTotalCount" resultType="Integer">	
    	SELECT count(*)  FROM tbl_material AS m
	        
			  INNER JOIN tbl_material_information AS i  ON m.maid = i.maid
		
		  WHERE mcode IS NOT NULL		
			<include refid="stockListSql" />
	</select>


	<select id="selectMaterialSearchList" resultMap="materialsMAP" >
			<![CDATA[
		SELECT A.*
			
			 FROM 
			  	(
			    SELECT  m.maid, mcode , material_name , proper_inventory , i.current_inventory,   @ROWNUM := @ROWNUM + 1 AS no
			    
			    FROM tbl_material AS m
	        
	        INNER JOIN tbl_material_information AS i
	        
	        ON m.maid = i.maid
	
			   ,(SELECT @ROWNUM := 0) R      
			     
			      WHERE mcode IS NOT NULL 
		]]>	      
		 <include refid="stockListSql" />
		
		<![CDATA[    
		     ORDER BY mcode DESC
		 ) A  

		 ORDER BY no DESC LIMIT #{pageStart}, #{perPageNum}
		]]>	
		
	</select>


	<update id="stockUpdate">	
	UPDATE tbl_material_information
	SET
	   current_inventory = #{currentInventory}
	WHERE maid =#{maid}
	</update>



	<!-- 1.  불출 신청 등록   부족분 auto 입고 신청 -->
	<insert id="insertAutoWMA">	
		INSERT INTO tbl_warehosing_materials_apply(
			   maid
			  ,warehosing_material_name
			  ,application_quantity
			  ,remarks
			  ,process_status
			) VALUES			
			(
			   #{maid}
			  ,#{warehosingMaterialName}
			  ,#{applicationQuantity}
			  ,#{remarks}
			  ,#{processStatus}
			)		
	</insert>

	<insert id="insertBulchulApply">
	INSERT INTO tbl_bulchul(
		   plan_id
		  ,maid
		  ,bomid
		  ,application_quantity
		  ,remarks
		  ,process_status
		  ,application_date
		) VALUES (
		   #{planId}
		  ,#{maid}  
		  ,#{bomid}  
		  ,#{applicationQuantity} 
		  ,#{remarks}  
		  ,#{processStatus}  
		  ,now()
	)	
	</insert>


	<!-- 불출 처리 페이지 -->
	<sql id="bulchulListSql">
			<if test='processStatus != null and processStatus !="" '>
				 AND b.process_status=#{processStatus}	
			</if>			
	</sql>


	<select id="bulchulProcessTotalCount" resultType="Integer">	
    	SELECT count(*)
		  
		  FROM tbl_bulchul AS b	INNER JOIN tbl_material AS m ON b.maid = m.maid
		
 	 	LEFT JOIN tbl_material_information AS i ON b.maid = i.maid , (SELECT @ROWNUM := 0) R     
		
		WHERE   b.bulchul_id >0 
			<include refid="bulchulListSql" />
	</select>

		
	<select id="bulchulProcessList" resultMap="materialsMAP" >	
		<![CDATA[		
		SELECT bulchu.* ,
    
     (select  pcode from tbl_bom_product WHERE bomid = p.bomid ) as pcode,
     
     p.plan_product_name, p.plan_product_quantity FROM( SELECT b.* , m.mcode, m.material_name,  m.proper_inventory,
		
		  IFNULL(i.current_inventory, 0) AS current_inventory  , @ROWNUM := @ROWNUM + 1 AS no
		  
		 FROM tbl_bulchul AS b	INNER JOIN tbl_material AS m ON b.maid = m.maid
		
 	 	LEFT JOIN tbl_material_information AS i ON b.maid = i.maid,  (SELECT @ROWNUM := 0) R     
		
		 WHERE   b.bulchul_id >0 
	]]>		 
		<include refid="bulchulListSql" />
		 
	<![CDATA[		 
     
     	 ORDER BY b.bulchul_id ASC
				
		) bulchu 
    
	    LEFT JOIN tbl_plan_product AS p ON p.plan_id = bulchu.plan_id 
	    
	    
	    ORDER BY no DESC 

		]]>	
			<if test='pageStart != null and pageStart !="" '>				 
			    LIMIT #{pageStart}, #{perPageNum}
			</if>	  	
	</select>



	<update id="bulchulStatusSave">
		UPDATE tbl_bulchul
		SET
		 process_status ='0'		
	</update>



	<select id="getByBulchulProcess" resultMap="materialsMAP" >	
		SELECT bulchu.* ,
    
     (select  pcode from tbl_bom_product WHERE bomid = p.bomid ) as pcode,
     
     p.plan_product_name, p.plan_product_quantity FROM( SELECT b.* , m.mcode, m.material_name,  m.proper_inventory,
		
		  IFNULL(i.current_inventory, 0) AS current_inventory  , @ROWNUM := @ROWNUM + 1 AS no
		  
		 FROM tbl_bulchul AS b	INNER JOIN tbl_material AS m ON b.maid = m.maid
		
 	 	LEFT JOIN tbl_material_information AS i ON b.maid = i.maid,  (SELECT @ROWNUM := 0) R     
		
		 WHERE   b.bulchul_id =#{bulchulId}
		 		 	
				
		) bulchu 
    
	    LEFT JOIN tbl_plan_product AS p ON p.plan_id = bulchu.plan_id 
	    	    
	
	</select>


	<update id="bulchulCurrentInventoryUpdate">
	UPDATE tbl_material_information
	SET	   
	  current_inventory = current_inventory - #{bulchulQuantity}
	WHERE maid = #{maid}
	</update>


	<update id="bulchulApplicationQuantityUpdate">
	UPDATE tbl_bulchul
	SET
	  application_quantity = application_quantity - #{bulchulQuantity}
	WHERE bulchul_id = #{bulchulId}
	</update>

	<delete id="bulchulDelete">
		<![CDATA[	
		DELETE FROM tbl_bulchul WHERE application_quantity =0
		]]>	
	</delete>


</mapper>